---
layout: default
---

{% include bio.html %}

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
        {% include post-card.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div> -->
