<div class="row justify-content-center">
  <div class="col col-8 col-md-4">
    <img alt="" src="images/portrait.jpg" class="center" style="border-radius:25px;"/><br/><br/>
  </div>
  <div class="col col-8 col-md-8 col-lg-4 order-md-last">
    <p>I am interested in developing artificial intelligence for social good. In
      particular, developing methods by which to make social media data
      more useful to disaster response organisations during crisis events.
    </p>
    <p>I teach Requirements Engineering in the Oxford <a href="http://www.cs.ox.ac.uk">
      Computer Science Department</a> and am the Junior Dean at
      <a href="http://www.hmc.ox.ac.uk">Harris Manchester College</a>.
    </p>
    <br/>
  </div>
  <div class="col col-8 col-md-4 order-lg-last">
  <p>Department of Computer Science<br/>
    Harris Manchester College<br/>
    University of Oxford<br/>
    Oxford, UK<br/></p>
    {% include svg-icons.html %}<br/><br/>
  </div>

</div>
